In [22]:
#!pip install yfinance

In [1]:
import yfinance as yf
import pandas as pd
from datetime import date
import matplotlib.pyplot as plt
from pandas import read_csv
from sklearn.preprocessing import MinMaxScaler

In [2]:
# Set the start and end date
#start_date = '2017-05-25'
#end_date = date.today().strftime('%Y-%m-%d')
#end_date

In [5]:
tickers_list = ['RELIANCE','TCS','HDFCBANK','INFY','ICICIBANK','HINDUNILVR','SBIN','BAJFINANCE','HDFC','WIPRO']
#tickers_list = ['TCS']
# Create placeholder for data
dataFinal = pd.DataFrame()

# Fetch the data
for ticker in tickers_list:
    data = pd.DataFrame()  
    #data = yf.download(ticker+'.NS', start=start_date, end=end_date)
    data = yf.download(ticker+'.NS', period='5y',interval="1d")
    fileName = 'data/'+str(ticker)+'_stock.csv'
    #data.insert(0, 'Ticker', ticker)
    #print(data)
    #dataFinal = dataFinal.append(data)    
    if len(data):
        data.to_csv(fileName)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [26]:
#dataFinal.to_csv('stock.csv')

In [6]:
company ='TCS'

In [7]:
fileData = read_csv('data/'+company+'_stock.csv')

In [8]:
fileData

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-05-25,1288.500000,1318.775024,1284.000000,1312.300049,1185.019653,4094094.0
1,2017-05-26,1312.500000,1313.425049,1282.324951,1289.125000,1164.092651,1362550.0
2,2017-05-29,1289.500000,1298.250000,1282.000000,1286.425049,1161.654297,1749290.0
3,2017-05-30,1280.000000,1287.974976,1262.500000,1275.550049,1151.834106,927634.0
4,2017-05-31,1266.500000,1286.250000,1264.000000,1273.300049,1149.802368,2502730.0
...,...,...,...,...,...,...,...
1231,2022-05-19,3397.000000,3405.000000,3230.000000,3261.949951,3240.124268,4642963.0
1232,2022-05-20,3310.000000,3313.899902,3270.050049,3293.000000,3270.966553,3065125.0
1233,2022-05-23,3304.800049,3338.899902,3267.000000,3321.750000,3299.524170,2293690.0
1234,2022-05-24,3315.149902,3324.850098,3275.600098,3288.000000,3266.000000,1711510.0
1235,2022-05-25,NaN,NaN,NaN,NaN,NaN,NaN